MOEX_BASE_URL=https://iss.moex.com/iss
MOEX_TIMEOUT=10s
FINANCE_MARKER_BASE_URL=https://financemarker.ru/api/fm/v2
FINANCE_MARKER_TOKEN=
FINANCE_MARKER_TIMEOUT=10s
SERVER_PORT=8080
SERVER_READ_HEADER_TIMEOUT=5s
